.main-tables-container {
    display: flex;
    flex-wrap: wrap;
    width: 100rem;
    margin: 0 auto;
}
.product-cards--container {
    display: flex;
    flex-wrap: wrap;
    width: 87rem;
    margin: auto;
}
.plans-container--slider {
    justify-content: center;
}
