/*
1. Posicionamiento
2. Modelo caja (Box model)
3. Tipografía
4. Visuales
5. Otros
*/
:root {
    /*Colors*/
    --bitcoin-orange: #F7931A;
    --soft-orange: #FFE9D5;
    --secundary-blue: #1A9AF7;
    --soft-blue: #E7F5FF;
    --warm-black: #201E1C;
    --black: #282623;
    --grey: #BABABA;
    --off-white: #FAF8F7;
    --just-white: #FFFFFF;
    /*typography*/
    --DM-Sans: 'DM Sans', sans-serif;
    --Inter: 'Inter', sans-serif;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 32rem;
    height: 33.4rem;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}
header img {
    width: 15.1rem;
    height: 2.4rem;
    margin-top: 6rem;
    align-self: center;
}
.header--title-container {
    width: 90%;
    min-width: 28.8rem;
    max-width: 90rem;
    height: 21.8rem;
    margin-top: 4rem;
    text-align: center;
    align-self: center;
}
.header--title-container h1 {
    font-size: 2.4rem;
    font-style: normal;
    font-weight: bold;
    line-height: 2.6rem;
    font-family: var(--DM-Sans);
    color: var(--just-white);
}
.header--title-container p {
    margin-top: 2.5rem;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    font-family: var(--DM-Sans);
    color: var(--soft-orange);
}
.header--title-container .header--button {
    position: absolute;
    left: calc(50% - 11.5rem);
    top: 27rem;
    display: block;
    margin-top: 3.5rem;
    padding: 1.5rem;
    width: 22.9rem;
    height: 4.8rem;
    font-family: var(--DM-Sans);
    background-color: var(--off-white);
    /* Sombra*/
    box-shadow: 0rem 0.4rem 0.8rem rgba(89, 73, 30, 0.16);
    border: none;
    border-radius: 0.5rem;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--warm-black);
}
.header--button span {
    display: inline-block;
    width: 1.3rem;
    height: 0.8rem;
    margin-left: 1rem;
    background-image: url('/assets/icons/arrowDown.svg');
}
main {
    width: 100%;
    height: auto;
    background-color: var(--off-white);
}
.main-exchange-container {
    width: 100%;
    height: auto;
    padding-top: 8rem;
    padding-bottom: 3rem;
    text-align: center;
    background-color: #FAF8F7;
}
.main-exchange-container--title {
    width: 90%;
    min-width: 22.8rem;
    max-width: 90rem;
    margin: 0 auto;
}
.main-exchange-container .backgroundImg {
    width: 20rem;
    height: 20rem;
    margin: 0 auto;
    margin-bottom: 5rem;
    background-image: url('./assets/imgs/Bitcoin.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.main-exchange-container h2 {
    margin-bottom: 3rem;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    font-family: var(--DM-Sans);
    color: var(--black);
}
.main-exchange-container p {
    margin-bottom: 3rem;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rme;
    font-family: var(--DM-Sans);
    color: #757575;
}
.main-currency-table, .main-commission-table {
    width: 70%;
    min-width: 23.5rem;
    max-width: 50rem;
    height: 30rem;
    margin: 0 auto;
    font-family: var(--Inter);
}
.main-currency-table .currency-table--title {
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    font-family: var(--DM-Sans);
    color: var(--bitcoin-orange);
    position: relative;
    right: 5rem;
}
.main-commission-table .commission-table--title {
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    font-family: var(--DM-Sans);
    color: var(--secundary-blue);
    position: relative;
    right: 5rem;
}
.currency-table--container, .commission-table--container {
    width: 70%;
    min-width: 23rem;
    max-width: 30rem;
    height: 20rem;
    max-height: 30rem;
    margin: 0 auto;
    justify-content: center;
}
.currency-table--container table, .commission-table--container table {
    width: 90%;
    height: 90%;
    margin: 0 auto;
}
.currency-table--container td, .commission-table--container td {
    width: 50%;
    padding-left: 1.5rem;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    font-family: var(--Inter);
    color: var(--grey);
    background-color: var(--just-white);
    text-align: left;
}
.currency-table--container .table__top-left, .commission-table--container .table__top-left {
    border-radius: 1.5rem 0 0 0;
}
.currency-table--container .table__top-right, .commission-table--container .table__top-right {
    border-radius: 0 1.5rem 0 0;
}
.currency-table--container .table__botton-left, .commission-table--container .table__botton-left {
    border-radius: 0 0 0 1.5rem;
}
.currency-table--container .table__botton-right, .commission-table--container .table__botton-right {
    border-radius: 0 0 1.5rem 0;
}
.currency-table--container .table__right, .commission-table--container .table__right {
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.7rem;
    color: #757575;
}
.currency-table--container .down {
    display: inline-block;
    width: 1.4rem;
    height: 1rem;
    margin-left: 1.5rem;
    background-image: url('./assets/icons/trending-down.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.currency-table--container .up {
    display: inline-block;
    width: 1.4rem;
    height: 1rem;
    margin-left: 1.5rem;
    background-image: url('./assets/icons/trending-up.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.currency-table--date {
    margin: 0 auto;
    width: 19rem;
    height: 3rem;
    margin: 0 auto;
    margin: 0 auto;
    padding: 0.8rem;
    background-color: var(--soft-orange);
    border-radius: 0.8rem;
}
.commission-table--date {
    
    width: 19rem;
    height: 3rem;
    margin: 0 auto;
    margin: 0 auto;
    padding: 0.8rem;
    background-color: var(--soft-blue);
    border-radius: 0.8rem;
}
.currency-table--date p, .commission-table--date p {
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.5rem;
    font-family: var(--Inter);
    color: var(--warm-black);
}
.main-product-detail {
    position: relative;
    width: 100%;
    min-width: 32rem;
    height: auto;
    padding: 2rem 1rem;
    padding-bottom: 4rem;
    background-color: var(--warm-black);
}
.product-detail--batata-logo {
    position: absolute;
    width: 4.7rem;
    height: 2.8rem;
    top: calc(0% - 1.2rem);
    left: calc(50% - 2rem);
    background-image: url('./assets/icons/logoSimple.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.product-detail--title {
    width: 95%;
    min-width: 28.8rem;
    height: auto;
    margin: 0 auto;
    margin-top: 5rem;
    text-align: center;
}
.product-detail--title h2 {
    margin-bottom: 2rem;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    font-family: var(--DM-Sans);
    color: var(--just-white);
}
.product-detail--title p {
    margin-bottom: 2rem;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    font-family: var(--DM-Sans);
    color: #808080;
}
.product-detail--card {
    width: 95%;
    min-width: 28.8rem;
    max-width: 40rem;
    min-height: 15rem;
    margin: 1.5rem auto;
    padding: 1.5rem;
    background-color: var(--black);
    border-radius: 0.5rem;
    box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.16);
}
.product-detail--card .clock {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    margin-bottom: 1rem;
    background-image: url('./assets/icons/clock.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.product-detail--card .eye {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    margin-bottom: 1rem;
    background-image: url('./assets/icons/eye.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.product-detail--card .dollar {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    margin-bottom: 1rem;
    background-image: url('./assets/icons/dollar-sign.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.product-detail--card .check {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    margin-bottom: 1rem;
    background-image: url('./assets/icons/check-circle.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.product--card-title {
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.8rem;
    font-family: var(--DM-Sans);
    color: var(--just-white);
}
.product--card-body {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    font-family: var(--DM-Sans);
    color: #808080;
}
.bitcoin-img-container {
    width: 100%;
    min-width: 32rem;
    height: 60vh;
    background-image: url('./assets/imgs/imgFondo.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}
.bitcoin-img-container h2 {
    padding-top: 6rem;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    font-family: var(--DM-Sans);
    color: var(--just-white);
}
.main-plans-container {
    width: 100%;
    min-width: 32rem;
    padding-bottom: 7rem;
    text-align: center;
}
.plans--title {
    width: 90%;
    min-width: 28.8rem;
    height: auto;
    margin: 0 auto;
}
.plans--title h2 {
    padding-top: 5rem;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    font-family: var(--DM-Sans);
    color: var(--warm-black);
}
.plans--title p {
    padding-top: 3rem;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    font-family: var(--DM-Sans);
    color: #757575;
}
.plans-container--slider {
    display: flex;
    align-items: flex-end;
    height: 31.6rem;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}
.plans-container--card {
    position: relative;
    scroll-snap-align: center;
    width: 70%;
    min-width: 19rem;
    max-width: 30rem;
    height: 25rem;
    margin: 1rem 0.6rem 0.5rem;
    padding: 0 1.5rem;
    background-color: var(--just-white);
    border-radius: 1.5rem;
    box-shadow: 0 0.4rem 0.8rem rgba(89, 73, 30, 0.16);
}
.recomended {
    position: absolute;
    width: 12rem;
    height: 3.1rem;
    top: -1.5rem;
    left: calc(50% - 6rem);
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.8rem;
    font-family: var(--Inter);
    background-color: var(--bitcoin-orange);
    border-radius: 0.8rem;
    color: var(--just-white);
}
.plan-card--title {
    padding-top: 3rem;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    font-family: var(--DM-Sans);
    color: black;
}
.plan-card--price {
    padding: 0.5rem 0;
    font-size: 5.2rem;
    font-weight: bold;
    line-height: 5.3rem;
    font-family: var(--Inter);
    color: black;
}
.plan-card--price span {
    font-size: 1.2rem;
    font-weight: 300;
    vertical-align: 3rem;
}
.plan-card--saving {
    font-size: 1.2rem;
    color: #757575;
}
.plan-card--ca {
    width: 15.1rem;
    height: 4.8rem;
    margin-top: 2rem;
    background-color: #faf8f7;
    border: 0.3rem solid var(--bitcoin-orange);
    border-radius: 0.4rem;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.8rem;
    font-family: var(--DM-Sans);
    color: var(--warm-black);
}
.plan-card--ca span {
    display: inline-block;
    width: 2.2rem;
    height: 2.1rem;
    background-image: url('./assets/icons/arrow-right-orange.svg');
    vertical-align: text-bottom;
}
footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 15rem;
    padding-left: 1rem;
    background-color: var(--bitcoin-orange);
}
footer .left ul {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    font-family: var(--DM-Sans);
    list-style: none;
}
.left li {
    margin: 1rem 0;
}
.left a {
    text-decoration: none;
    color: var(--just-white);
}
.left a:hover {
    text-decoration: underline;
}